<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/orang.jpeg" alt="Tirex" class="img-thumnail rounded-circle" width="300" >
            <h1 class="display-4">Tirex Is Fierce</h1>
            <p class="lead">Hewan Dilindungi | Suka Memakan Daging</p>
        </div>
    </div>
</div>